{% extends "actor/base.html" %}
{% block title %} Actors {% endblock %}


{% block content%}

<form method='GET' action='/actor/list/'> {% csrf_token %}
{{ form.as_p }}
</form>

<div class="a"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>



<script>

var list_url = "{% url 'actor:list' %}";

$(document).ready(function(){
	$('select').on('change', function(){
		$.get(list_url, {search: $(this).val()}, function(response){
			$('.a').html(response);
		});
	});

	$('actor.id').on('click', function(){
		$.get(list_url, function(response){
			$(list_url).html(response);
	});
});
})
</script>
{% endblock %}

