{% extends "actor/base.html" %}

{% block title %} Detail {% endblock %}

{% block content %}
{% if actors %}
<table border="5" style="width:70%">
<tr>
	<th>First Name</th>
	<th>Last Name</th> 
	<th>Actor id</th>
</tr>
	{% for actor in actors %}
	<tr>
		<td>{{ actor.first_name }}</a></td> 
		<td>{{ actor.last_name }}</td>
		<td><a href="{% url 'actor:listing_actors' %}?actor={{actor.pk}}">{{ actor.actor_id}}</td>
	</tr>
	{% endfor %}

	
</table>
{% elif movies %}
	<table border="5" style="width:70%">
		<tr>
			<th>Movie title</th>
		</tr>
		{% for movie in movies %}
		<tr>
			<td>{{ movie.film.title }}</td>
		</tr>
		{% endfor %}
	</table>
{%endif%}
{% endblock %}